<template>
  <div id="product-list-container">
    <v-container class="mt-4">
      <v-row>
        <v-col
          v-if="$vuetify.breakpoint.smAndUp && !$vuetify.breakpoint.smAndDown"
          cols="12"
          md="3"
        >
          <div
            class="body-1 font-weight-bold d-flex align-center"
            style="height: 39.9px; vertical-align: center"
            >Filter</div
          >
          <v-divider class="mb-4 mt-2"></v-divider>
          <div class="filter-container">
            <div class="d-flex justify-space-between align-center mb-4">
              <span>Rating 4 ke atas</span>
              <v-checkbox
                v-model="filter.high_rating"
                hide-details
                class="mt-0"
                @change="printListGift"
              ></v-checkbox>
            </div>
            <div class="d-flex justify-space-between align-center">
              <span>Stock Tersedia</span>
              <v-checkbox
                v-model="filter.availabe_stock"
                hide-details
                class="mt-0"
                @change="printListGift"
              ></v-checkbox>
            </div>
          </div>
        </v-col>
        <v-col cols="12" md="9">
          <div class="d-flex align-center justify-space-between">
            <div class="body-1 font-weight-bold">Product List</div>
            <div
              v-if="
                $vuetify.breakpoint.smAndUp && !$vuetify.breakpoint.smAndDown
              "
              class="d-flex align-center"
            >
              <span class="mr-6">Urutkan</span>
              <v-select
                v-model="sort"
                :items="sortList"
                item-text="label"
                item-value="value"
                dense
                outlined
                hide-details
                class="rounded-pill"
                style="max-width: 200px"
              ></v-select>
            </div>
          </div>

          <div
            v-if="$vuetify.breakpoint.smAndDown"
            class="d-flex justify-space-between align-center"
          >
            <v-icon @click="filterMobile = !filterMobile">mdi-filter</v-icon>
            <v-select
              v-model="sort"
              :items="sortList"
              item-text="label"
              item-value="value"
              dense
              outlined
              hide-details
              class="rounded-pill"
              style="max-width: 200px"
            ></v-select>
          </div>
          <v-divider class="mb-4 mt-2"></v-divider>
          <v-progress-linear
            v-if="loading"
            indeterminate
            color="primary"
          ></v-progress-linear>
          <v-row>
            <v-col
              cols="12"
              sm="6"
              md="4"
              v-for="gift in giftList"
              :key="gift.id"
            >
              <Product :giftId="gift.id" :giftAttribute="gift.attributes" />
            </v-col>
          </v-row>
        </v-col>
      </v-row>

      <v-bottom-sheet v-model="filterMobile">
        <v-sheet class="text-center pa-5" height="120px">
          <div class="d-flex justify-space-between align-center mb-4">
            <span>Rating 4 ke atas</span>
            <v-checkbox
              v-model="filter.high_rating"
              hide-details
              class="mt-0"
              @change="printListGift"
            ></v-checkbox>
          </div>
          <div class="d-flex justify-space-between align-center">
            <span>Stock Tersedia</span>
            <v-checkbox
              v-model="filter.availabe_stock"
              hide-details
              class="mt-0"
              @change="printListGift"
            ></v-checkbox>
          </div>
        </v-sheet>
      </v-bottom-sheet>
    </v-container>
  </div>
</template>

<script>
import Product from '@/components/Product.vue';
import { getProduct } from '@/api/product';

export default {
  components: {
    Product,
  },
  data() {
    return {
      sortList: [
        { value: 'newest', label: 'Terbaru' },
        { value: 'review', label: 'Ulasan' },
      ],
      filter: {
        high_rating: false,
        availabe_stock: false,
      },
      sort: 'newest',
      gifts: [],
      giftList: [],
      loading: false,
      filterMobile: false,
    };
  },
  watch: {
    sort(newVal) {
      const gifts = [...this.giftList];
      if (newVal === 'review') {
        this.giftList = gifts.sort(this.sortingByReview);
      } else {
        this.giftList = gifts.sort(this.sortingByNewest);
      }
    },
  },
  mounted() {
    this.getGifts();
  },
  methods: {
    printListGift() {
      let data = [...this.gifts];

      if (this.filter.high_rating) {
        data = data.filter((r) => r.attributes.rating >= 4);
      }
      if (this.filter.availabe_stock) {
        data = data.filter((r) => r.attributes.stock > 0);
      }

      this.giftList = data;
    },
    getGifts() {
      this.loading = true;
      getProduct().then((res) => {
        this.gifts = res.data.data.sort(this.sortingByNewest);
        this.printListGift();
        this.loading = false;

        // Get From Localstorage because api set whistlist not change product isWishlist key
        const getWhisList = localStorage.getItem('whislist');
        if (getWhisList) {
          const data = getWhisList.split(',');
          data.forEach((id) => {
            this.$store.commit('SET_WHISLIST', id);
          });
        }
      });
    },
    sortingByNewest(a, b) {
      if (a.attributes.isNew < b.attributes.isNew) {
        return -1;
      }
      if (a.attributes.isNew > b.attributes.isNew) {
        return 1;
      }
      if (a.attributes.stock < b.attributes.stock) {
        return -1;
      }
      if (a.attributes.stock > b.attributes.stock) {
        return 1;
      }
      return 0;
    },
    sortingByReview(a, b) {
      if (a.attributes.numOfReviews < b.attributes.numOfReviews) {
        return -1;
      }
      if (a.attributes.numOfReviews > b.attributes.numOfReviews) {
        return 1;
      }
      if (a.attributes.stock < b.attributes.stock) {
        return -1;
      }
      if (a.attributes.stock > b.attributes.stock) {
        return 1;
      }
      return 0;
    },
  },
};
</script>

<style lang="scss">
#product-list-container {
  margin-bottom: 50px;
  color: #888888;
  #logo {
    height: 100%;
  }
  .filter-container {
    border: 1px solid #d8d8d8;
    padding: 15px 20px;
  }
}
</style>
