<template>
  <div class="product-detail">
    <v-progress-linear
      v-if="loading"
      indeterminate
      color="primary"
    ></v-progress-linear>
    <v-container v-if="product" class="pa-6">
      <v-row class="product-breadcrumb">
        <span style="cursor: pointer" @click="$router.push('/')"
          >List Product</span
        >
        <span class="mx-2">></span> <span>{{ product.name }}</span>
      </v-row>

      <v-row>
        <v-col cols="12" sm="6" style="position: relative">
          <img :src="showBadges" class="badge-icon" />
          <v-carousel
            :show-arrows="false"
            :hide-delimiters="product.images && product.images.length <= 1"
            height="100%"
            hide-delimiter-background
          >
            <v-carousel-item
              v-for="(img, i) in product.images"
              :key="i"
              style="min-width: 100%"
              class="text-center"
            >
              <img
                :src="img"
                :height="$vuetify.breakpoint.xsOnly ? '250px' : '400px'"
              />
            </v-carousel-item>
          </v-carousel>
        </v-col>
        <v-col cols="12" sm="6" class="product-info">
          <div class="font-weight-bold title">{{ product.name }}</div>

          <div
            class="gift-rating d-flex align-center justify-space-between my-2"
          >
            <div class="d-flex align-center">
              <v-rating
                :value="ratingValue"
                class="mr-2"
                color="warning"
                half-increments
                readonly
                length="5"
                size="18"
              ></v-rating>
              <span class="rating-label">
                {{ product.numOfReviews }} reviews
              </span>
            </div>
          </div>

          <div class="poins d-flex align-center">
            <div class="d-flex align-center poin-label font-weight-bold mr-4"
              ><img :src="productPrice" class="mr-2" />
              <span class="success--text"
                >{{ product.points | numberFormater }} poins</span
              >
            </div>
            <div
              :class="`${stock.color}--text`"
              class="font-weight-bold"
              style="font-size: 14px"
              >{{ stock.label }}</div
            >
          </div>

          <div class="info-label">
            <p v-html="product.info"></p>
          </div>

          <!-- if stock > 0 user can add product -->
          <div v-if="product.stock > 0" class="total-product">
            <span>Jumlah</span>
            <div class="total-product-count d-flex align-center mt-3">
              <div class="total-icon" @click="setTotal('minus')">
                <v-icon>mdi-minus</v-icon>
              </div>
              <input v-model="totalAddChart" />
              <div class="total-icon" @click="setTotal('plus')">
                <v-icon>mdi-plus</v-icon>
              </div>
            </div>
          </div>

          <div>
            <v-btn
              :color="getWhislist() ? '#E1E1E1' : 'error'"
              :outlined="getWhislist() || false"
              depressed
              class="rounded-pill px-3"
              @click="setWhislistHandler"
              ><v-icon>mdi-heart</v-icon></v-btn
            >

            <v-btn color="primary" depressed class="rounded-pill px-5 mx-3"
              >Redeem</v-btn
            >

            <v-btn color="primary" depressed outlined class="rounded-pill px-5"
              >Add to cart</v-btn
            >
          </div>
        </v-col>
        <v-col cols="12" class="mb-12">
          <div
            class="success--text"
            style="border-bottom: 3px solid #74b71b; width: 150px; height: 35px"
            >Info produk</div
          >
          <v-divider></v-divider>

          <div class="mt-6">
            <div class="primary--text body-1 mb-6">Rincian</div>
            <span class="description" v-html="product.description"></span>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import { setWhislist, getProductDetail } from '@/api/product';

import badgeBestSeller from '@/assets/product_best_seller.png';
import badgeHotItem from '@/assets/product_hot_item.png';
import badgeNew from '@/assets/product_new.svg';
import productPrice from '@/assets/product_price.svg';

export default {
  filters: {
    numberFormater: (value) => {
      if (!value) return '-';
      const parts = value.toString().split('.');
      parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, '.');
      return parts[0];
    },
  },
  data() {
    return {
      product: {},
      productPrice,
      totalAddChart: 0,
      loading: false,
    };
  },
  computed: {
    stock() {
      const item = {
        total: this.product.stock,
      };

      if (this.product.stock === 0) {
        item.label = 'Sold Out';
        item.color = 'error';
      } else if (this.product.stock < 5 && this.product.stock !== 0) {
        item.label = 'Stock < 5';
        item.color = 'error';
      } else {
        item.label = 'In Stock';
        item.color = 'primary';
      }

      return item;
    },
    ratingValue() {
      const rating = Math.round(this.product.rating * 2) / 2;
      return rating;
    },
    showBadges() {
      let badges = null;
      const bestSeller = this.ratingValue >= 4 && this.product.numOfReviews > 25;

      if (this.product.isNew && bestSeller) {
        badges = badgeHotItem;
      } else if (bestSeller) {
        badges = badgeBestSeller;
      } else if (this.product.isNew) {
        badges = badgeNew;
      }

      return badges;
    },
  },
  watch: {
    // check if input is >= stock
    totalAddChart(newVal) {
      if (newVal >= this.product.stock) {
        this.totalAddChart = this.product.stock;
      }
    },
  },
  async created() {
    if (this.$route.params.id) {
      this.loading = true;
      await getProductDetail(this.$route.params.id).then((res) => {
        this.product = res.data.data.attributes;
        this.loading = false;
      });
    }
  },
  mounted() {
    this.getWhislist();
  },
  methods: {
    setTotal(type) {
      if (type === 'plus') {
        if (this.totalAddChart <= this.product.stock) {
          this.totalAddChart += 1;
        }
      } else if (this.totalAddChart > 0) {
        this.totalAddChart -= 1;
      }
    },
    getWhislist() {
      const whisList = this.$store.getters.g_whislist;
      const condition = whisList.find((e) => e === this.product.id);
      if (!condition) {
        return true;
      }
      return false;
    },
    setWhislistHandler() {
      setWhislist(this.product.id).then((res) => {
        console.log(res);
        this.$store.commit('SET_WHISLIST', this.product.id);
      });
    },
  },
};
</script>

<style lang="scss">
.product-detail {
  color: #262626;
  .product-breadcrumb {
    height: 44px;
    font-size: 14px;
  }
  .badge-icon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    max-height: 75px;
  }
  .product-info {
    .gift-rating {
      .mdi {
        padding: 0px;
        padding-right: 2px;
      }
      .rating-label {
        font-size: 12px;
        color: #838eab;
      }
    }

    .poins {
      margin-bottom: 24px;
      img {
        height: 24px;
      }
      .poin-label {
        color: #74b71b;
        font-size: 24px;
      }
    }
    .info-label {
      font-size: 14px;
    }
    .total-product {
      margin-bottom: 24px;
      .total-product-count {
        text-align: center;
        input {
          text-align: center;
          width: 50px;
          height: 35px;
          &:focus {
            border: none;
          }
        }
        .total-icon {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #f0f0f0;
          min-width: 32px;
          height: 35px;
        }
        span {
          text-align: center;
          min-width: 18px;
          color: #838eab;
          font-size: 14px;
        }
      }
    }
  }
  .description {
    p {
      letter-spacing: 0.01px;
      line-height: 2.5;
      font-size: 14px;
    }
  }
}
</style>
