<template>
  <div class="product-container">
    <img :src="showBadges" class="badge-icon" />
    <v-overlay
      v-if="giftAttribute.stock === 0"
      absolute
      color="#E1E8EE"
      opacity="0.73"
      class="pa-6 d-flex align-end"
    >
    </v-overlay>

    <v-hover>
      <template v-slot:default="{ hover }">
        <div style="margin: 15px">
          <!-- {{ JSON.stringify(giftAttribute) }} -->
          <div
            :style="giftAttribute.stock === 0 ? 'z-index: 0' : ''"
            :class="hover ? 'white--text' : `${stock.color}--text`"
            class="stock-label mb-4"
            >{{ stock.label }}</div
          >

          <v-carousel
            :show-arrows="false"
            :hide-delimiters="giftAttribute.images.length <= 1"
            height="265px"
            hide-delimiter-background
          >
            <v-carousel-item
              v-for="(img, i) in giftAttribute.images"
              :key="i"
              style="min-width: 100%"
              class="text-center"
            >
              <img :src="img" style="max-height: 240px" />
            </v-carousel-item>
          </v-carousel>

          <div class="font-weight-bold">{{ giftAttribute.name }}</div>

          <div class="d-flex align-center"
            ><img :src="IconPoint" class="mr-2" />
            <span class="success--text body-2">{{
              giftAttribute.points | numberFormater
            }}</span></div
          >
          <div class="gift-rating d-flex align-center justify-space-between">
            <div class="d-flex align-center">
              <v-rating
                :value="ratingValue"
                class="mr-2"
                color="warning"
                half-increments
                readonly
                length="5"
                size="13"
              ></v-rating>
              <span class="rating-label">
                {{ giftAttribute.numOfReviews }} reviews
              </span>
            </div>
            <div>
              <v-btn
                :color="getWhislist() ? '#E1E1E1' : 'error'"
                :outlined="getWhislist() || false"
                class="rounded-pill px-3"
                depressed
                small
                ><v-icon>mdi-heart</v-icon></v-btn
              >
            </div>
          </div>

          <v-fade-transition>
            <v-overlay
              v-if="hover"
              absolute
              color="#649C1A"
              opacity="0.9"
              class="pa-6 d-flex align-end"
            >
              <div>
                <span class="white--text">{{ giftAttribute.name }}</span>

                <v-btn
                  outlined
                  dark
                  style="width: 100%"
                  color="white"
                  class="rounded-pill mt-12"
                  @click="
                    $router.push({
                      name: 'ProductDetail',
                      params: { id: giftId },
                    })
                  "
                  ><v-icon small class="mr-2">mdi-eye</v-icon> View
                  Detail</v-btn
                >

                <div class="text-end mt-12">
                  <v-btn
                    :color="getWhislist() ? '#E1E1E1' : 'error'"
                    outlined
                    class="rounded-pill px-3"
                    small
                    @click="setWhislistHandler"
                    ><v-icon>mdi-heart</v-icon></v-btn
                  >
                </div>
              </div>
            </v-overlay>
          </v-fade-transition>
        </div>
      </template>
    </v-hover>
  </div>
</template>

<script>
import IconPoint from '../assets/product-point.png';
import badgeBestSeller from '../assets/product_best_seller.png';
import badgeHotItem from '../assets/product_hot_item.png';
import badgeNew from '../assets/product_new.svg';

import { setWhislist } from '@/api/product';

export default {
  filters: {
    numberFormater: (value) => {
      if (!value) return '-';
      const parts = value.toString().split('.');
      parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, '.');
      return parts[0];
    },
  },
  props: {
    giftId: String,
    giftAttribute: Object,
  },
  data() {
    return {
      badgeBestSeller,
      badgeHotItem,
      badgeNew,
      IconPoint,
    };
  },
  computed: {
    stock() {
      const item = {
        total: this.giftAttribute.stock,
      };

      if (this.giftAttribute.stock === 0) {
        item.label = 'Sold Out';
        item.color = 'error';
      } else if (
        this.giftAttribute.stock < 5
        && this.giftAttribute.stock !== 0
      ) {
        item.label = 'Stock < 5';
        item.color = 'error';
      } else {
        item.label = 'In Stock';
        item.color = 'success';
      }

      return item;
    },
    ratingValue() {
      const rating = Math.round(this.giftAttribute.rating * 2) / 2;
      return rating;
    },
    showBadges() {
      let badges = null;
      const bestSeller = this.ratingValue >= 4 && this.giftAttribute.numOfReviews > 25;

      if (this.giftAttribute.isNew && bestSeller) {
        badges = badgeHotItem;
      } else if (bestSeller) {
        badges = badgeBestSeller;
      } else if (this.giftAttribute.isNew) {
        badges = badgeNew;
      }

      return badges;
    },
  },
  methods: {
    getWhislist() {
      const whisList = this.$store.getters.g_whislist;
      const condition = whisList.find((e) => e === this.giftId);
      if (!condition) {
        return true;
      }
      return false;
    },
    setWhislistHandler() {
      setWhislist(this.giftId).then((res) => {
        console.log(res);
        this.$store.commit('SET_WHISLIST', this.giftId);
      });
    },
  },
};
</script>

<style lang="scss">
.product-container {
  padding: 15px;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  text-align: left;
  position: relative;
  background: white;
  .badge-icon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    height: 75px;
  }
  .stock-label {
    width: 100%;
    font-size: 12px;
    position: relative;
    z-index: 6;
  }
  .gift-rating {
    .mdi {
      padding: 0px;
      padding-right: 2px;
    }
    .rating-label {
      font-size: 12px;
      color: #838eab;
    }
  }
}
</style>
