<template>
  <v-app id="app-container">
    <v-app-bar
      app
      height="67"
      color="white"
      style="z-index: 10"
      class="elevation-1"
    >
      <img id="logo" :src="Logo" />
    </v-app-bar>

    <v-main style="position: relative">
      <transition name="fade">
        <router-view />
      </transition>
    </v-main>

    <v-footer color="#232323" dark class="footer-container">
      <v-container class="d-flex justify-space-between flex-wrap">
        <div>
          <img v-for="(icon, i) in icons" :key="i" :src="icon" />
        </div>
        <div>
          <span>Term & Condition</span>
          <span class="mx-6">|</span>
          <span
            >Copyright © 2018. All rights reserved. PT Radya Gita Bahagi</span
          >
        </div>
      </v-container>
    </v-footer>
  </v-app>
</template>

<script>
import Logo from '@/assets/logo.png';

import IgIcon from '@/assets/footer/ig.svg';
import FbIcon from '@/assets/footer/fb.svg';
import TwtIcon from '@/assets/footer/twt.svg';

export default {
  name: 'App',
  data: () => ({
    Logo,
    icons: [IgIcon, FbIcon, TwtIcon],
  }),
};
</script>

<style lang="scss">
#app-container {
  background-image: url("./assets/product-detail-bg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}
.app-bg {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.footer-container {
  span {
    font-size: 14px;
  }
  img {
    height: 16px;
    margin-right: 20px;
  }
}
</style>
